/* --- globals --- */

* {
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    overflow-y: scroll;
}


/* --- nav bar --- */

.navbar {
    border: 2px dashed black;
    display: flex;
    flex-direction: column;
    flex-basis: 250px;
    flex-grow: 1;
    gap: 2rem;
}

.navbar li {
    display: flex;
    /*flex-grow: 1;*/
}

.navbar-logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar img {
    width: 16px;
}

.navbar .company-logo {
    width: 20px;
}

.navbar-links {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-grow: 1;
}

.navbar-links a {
    display: flex;
    gap: 16px;
}

.navbar-buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.navbar button {
    flex-grow: 1;
}

.log-in-button {
    background-color: black;
    color: white;
}


/* --- main content --- */

.main-content {
    display: flex;
    flex-direction: column;
    border: 2px dashed red;
    /*width: 100%;*/
    flex-grow: 12;
    flex-shrink: 5;
    /*overflow: visible;*/
}


/* --- header --- */

header {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    background-image: url("../assets/placeholder-image.svg");
    background-position: center;
    background-size: 100% auto;
    text-align: center;
    justify-content: center;
}


/* --- product cards --- */



/* --- footer --- */

footer {
    background-color: #383838;
    color: white;
}