/* --- globals --- */

* {
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
}


/* --- nav bar --- */

.navbar {
    display: flex;
    flex-direction: column;
    flex-basis: 250px;
    flex-shrink: 0;
    flex-grow: 1;
    gap: 2rem;
}

.navbar li {
    display: flex;
}

.navbar-logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar img {
    width: 16px;
}

.navbar .company-logo {
    width: 20px;
}

.navbar-links {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-grow: 1;
}

.navbar-links a {
    display: flex;
    gap: 16px;
}

.navbar-buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.navbar button {
    flex-grow: 1;
}

.log-in-button {
    background-color: black;
    color: white;
}


/* --- main content --- */

.main-content {
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 12;
    overflow-y: scroll;
}


/* --- header --- */

header {
    background-image: url("../assets/placeholder-image.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 120px 0;
}


/* --- product cards --- */

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px 0 20px 0;
}

.product-card {
    display: flex;
    flex-direction: column;
    flex-basis: 260px;
    justify-content: space-between;
    gap: 2rem;
}

.product-card button {
    background-color: #383838;
    color: white;
}

.product-card > img {
    width: 260px;
}

.price-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.price-line img {
    height: 1em;
}


/* --- footer --- */

footer {
    display: flex;
    justify-content: center;
    background-color: #383838;
    color: white;
}