* {
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

nav {
    /*background-color: #383838;*/
    border: 2px dashed black;
    display: flex;
    flex-direction: column;
    flex-basis: 250px;
    flex-shrink: 1;
}

nav ul {
    list-style: none;
}

nav .company-logo {
    width: 20px;
}

nav img {
    width: 16px;
}




.main-content {
    display: flex;
    flex-direction: column;
    border: 2px dashed red;
    width: 100%;
    flex-shrink: 5;
    /*overflow: visible;*/
}

footer {

}